---
import ProjectsContainer from "./ProjectsContainer.astro";

// Lista de proyectos
const projects = [
  {
    id: "0",
    imgSrc: "/images/topogame.png",
    title: "Topo Game",
    description: "Una de las prácticas para utilizar JS en 1r DAM.",
    projectPath: "https://lbaca.netlify.app/whac-a-mole/whac-a-mole",
  },
  {
    id: "1",
    imgSrc: "/images/piano.png",
    title: "Piano",
    description: "Otra práctica para usar JS en 1r DAM. Consiste en almacenar las notas para después reproducirlas en el mismo orden.",
    projectPath: "https://lbaca.netlify.app/piano/piano",
  },
];

let currentIndex = 0; // Índice actual del proyecto que se está mostrando

// Funciones para navegar en el carrusel
function nextProject() {
  currentIndex = (currentIndex + 1) % projects.length;
}

function prevProject() {
  currentIndex = (currentIndex - 1 + projects.length) % projects.length;
}
---

<div class="flex flex-col md:flex-row items-center justify-center">
  <!-- Flecha Izquierda (Desktop) -->
  <button aria-label="Previous Project" id="prevPC"  class="hidden md:flex items-center mb-4 md:mb-0">
    <img 
      loading="lazy"
      src="/images/caret-left.png" 
      alt="Previous Project" 
      class="w-8 h-8 md:mr-4 font-medium bg-white p-1 rounded-full shadow-md transition-transform duration-300 hover:bg-gray-100 hover:scale-110" 
    />
  </button>
  
  <!-- Contenedor del Proyecto Actual -->
  <div class="flex items-center justify-center mb-4 md:mb-0">
    <ProjectsContainer id={projects[currentIndex].id} imgSrc={projects[currentIndex].imgSrc} title={projects[currentIndex].title} description={projects[currentIndex].description} projectPath={projects[currentIndex].projectPath} />
  </div>

  <div class="flex flex-row">    
    <!-- Flecha Izquierda (Móvil) -->
    <button aria-label="Previous Project Mobile" id="prevMobile"  class="flex md:hidden items-center">
      <img 
      loading="lazy"
      src="/images/caret-left.png" 
      alt="Previous Project" 
      class="w-8 h-8 mr-4 font-medium bg-white p-1 rounded-full shadow-md transition-transform duration-300 hover:bg-gray-100 hover:scale-110" 
      />
    </button>
    
    <!-- Flecha Derecha -->
    <button aria-label="Next Project" id="next"  class="flex items-center">
      <img 
      loading="lazy"
      src="/images/caret-right.png" 
      alt="Next Project" 
      class="w-8 h-8 ml-4 font-medium bg-white p-1 rounded-full shadow-md transition-transform duration-300 hover:bg-gray-100 hover:scale-110" 
      />
    </button>
  </div>
  </div>
