---
import ProjectsContainer2 from "./ProjectsContainer2.astro";
import { getCollection } from "astro:content";

const projectsData = await getCollection('projects2'); // Obtener los proyectos

---

<!-- Contenedor para los proyectos -->
<div class="flex flex-wrap justify-center gap-4 p-4"> <!-- Asegúrate de que esta clase esté bien aplicada -->
  {projectsData.length > 0 ? (
    projectsData.map((project) => (
      <ProjectsContainer2 
        imgSrc={project.data.imgSrc} 
        title={project.data.title} 
        type={project.data.type} 
        projectPath={project.data.projectPath} 
        titleColor={project.data.titleColor}
      />
    ))
  ) : (
    <p>No hay proyectos disponibles.</p>
  )}
</div>
