---
interface Props {
	id: string;
    imgSrc: string; 
    title: string;  
    description: string; 
    projectPath: string;
}
const { id, imgSrc, title, description, projectPath } = Astro.props;
---

<div id={id} class="w-full max-w-xs rounded-lg overflow-hidden shadow-lg bg-white">
  <img class="w-full  scale-110 transition-all duration-300 hover:scale-100" src={imgSrc} alt="img project" />
  <div class="px-6 py-4">
    <div class="font-bold text-xl mt-2 mb-2 text-bgColor">{title}</div>
    <p class="text-gray-700 text-base">
      {description}
      <a href={projectPath} class="text-bgColor hover:text-blue-600">Saber más</a>
    </p>
  </div>

  <div class="px-6 pt-4 pb-2">
    <span class="md:hidden inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#JavaScript</span>
    <span class="md:hidden inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#HTML</span>
    <span class="md:hidden inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#CSS</span>
  </div>
</div>
